<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>Movie Review</title>

    <link href="{{ 'http://fonts.googleapis.com/css?family=Roboto:300,400,700|'  }}" rel="stylesheet">
    <link href="{{ asset('Netflix/fonts/font-awesome.min.css') }}" rel="stylesheet">

    <link href="{{ asset('Netflix/style.css') }}" rel="stylesheet">

    <script src="{{ asset('Netflix/js/ie-support/html5.js') }}"></script>
    <script src="{{ asset('Netflix/js/ie-support/respond.js') }}"></script>

</head>
<body>

<div id="site-content">
    <header class="site-header">
        <div class="container">
            <a href="index.html" id="branding">
                <img src="{{ asset('Netflix/images/logo.png') }}">
                <div class="logo-copy">
                    <h1 class="site-title">SUPERSTREAM</h1>
                    <small class="site-description">Tagline goes here</small>
                </div>
            </a> <!-- #branding -->

            <div class="main-navigation">
                <button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
                <ul class="menu">
                    <li class="menu-item current-menu-item"><a href="index.html">Accueil</a></li>
                    <li class="menu-item"><a href="about.html">A Propos</a></li>
                    <li class="menu-item"><a href="review.html">Films</a></li>
                    <li class="menu-item"><a href="review.html">Séries</a></li>
                    <li class="menu-item"><a href="joinus.html">Rejoignez nous</a></li>
                    <li class="menu-item"><a href="joinus.html">Inscription</a></li>
                    <li class="menu-item"><a href="joinus.html">Connexion</a></li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                </ul> <!-- .menu -->

                <form action="#" class="search-form">
                    <input type="text" placeholder="Search...">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div> <!-- .main-navigation -->

            <div class="mobile-navigation"></div>
        </div>
    </header>
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-md-9">
                        <div class="slider">
                            <ul class="slides">
                                <li><a href="#"><img src="{{ asset('Netflix/dummy/slide-1.jpg') }}">
                                    </a></li>
                                <li><a href="#"><img src="{{ asset('Netflix/dummy/slide-2.jpg') }}">
                                    </a></li>
                                <li><a href="#"><img src="{{ asset('Netflix/dummy/slide-3.jpg') }}">
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <div class="latest-movie">
                                    <a href="#"><img src="{{ asset('Netflix/dummy/thumb-1.jpg') }}"></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12">
                                <div class="latest-movie">
                                    <a href="#"><img src="{{ asset('Netflix/dummy/thumb-2.jpg') }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{{ asset('Netflix/dummy/thumb-3.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{{ asset('Netflix/dummy/thumb-4.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{{ asset('Netflix/dummy/thumb-5.jpg') }}"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{{ asset('Netflix/dummy/thumb-6.jpg') }}"></a>
                        </div>
                    </div>
                </div> <!-- .row -->

                <div class="row">
                    <div class="col-md-4">
                        <h2 class="section-title">December premiere</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">November premiere</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">October premiere</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </main>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">About Us</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia tempore vitae mollitia nesciunt saepe cupiditate</p>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Recent Review</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Help Center</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Join Us</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Sit amet consecture</a></li>
                            <li><a href="#">Dolorem respequem</a></li>
                            <li><a href="#">Invenore veritae</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Social Media</h3>
                        <ul class="no-bullet">
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Google+</a></li>
                            <li><a href="#">Pinterest</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="widget">
                        <h3 class="widget-title">Newsletter</h3>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Email Address">
                        </form>
                    </div>
                </div>
            </div> <!-- .row -->

            <div class="colophon">Copyright 2014 Company name, Designed by Themezy. All rights reserved</div>
        </div> <!-- .container -->

    </footer>
</div>
<!-- Default snippet for navigation -->

<script src="{{ asset('Netflix/js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ asset('Netflix/js/plugins.js') }}"></script>
<script src="{{ asset('Netflix/js/app.js') }}"></script>

</body>
</html>