{% extends 'default/layout.html.twig' %}

{% block content %}
<main class="main-content">
        <div class="container">
            <div class="page">
                <div class="row">
                    <div class="col-md-9">
                        <div class="slider">
                            <ul class="slides">
                            {% for film in films %}
                                <li><a href="{{ path('film', {'id': film.id }) }}"><img style="width:564px; height:518px; text-align:center" src="{{ path('imagesViews', {'id': film.id }) }}" alt="#">>
                                    </a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <div class="latest-movie">
                                    <a href="#"><img src="{{ asset('Netflix/images/split.png') }}"></a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-12">
                                <div class="latest-movie">
                                    <a href="#"><img src="{{ asset('Netflix/images/aladdin.png') }}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- .row -->
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{{ asset('Netflix/images/divergente.png') }}"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{{ asset('Netflix/images/monstresandcie.png') }}"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{{ asset('Netflix/images/madagascar.png') }}"></a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="latest-movie">
                            <a href="#"><img src="{{ asset('Netflix/images/nonstop.png
') }}"></a>
                        </div>
                    </div>
                </div> <!-- .row -->

                <div class="row">
                    <div class="col-md-4">
                        <h2 class="section-title">Avant Premières Mars</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">Avant Premières Avril</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                    <div class="col-md-4">
                        <h2 class="section-title">Avant Premières Mai</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        <ul class="movie-schedule">
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                            <li>
                                <div class="date">16/12</div>
                                <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
                            </li>
                        </ul> <!-- .movie-schedule -->
                    </div>
                </div>
            </div>
        </div> <!-- .container -->
    </main>
{% endblock %}
