
{% extends 'default/layout.html.twig' %}



{% block content %}
    <main class="main-content">
        <div class="container">
            <div class="page">
                <div class="breadcrumbs">
                    <a href="">Home</a>
                    <a href="review.html">Movie Review</a>
                    <span>{{ serie.name }}</span>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-6">
                            <figure class="movie-poster"><img src="{{ path('imagesViewsSeries', {'id': id }) }}" alt="#"></figure>
                        </div>
                        <div class="col-md-6">
                            <h2 class="movie-title">{{ serie.name }}</h2>
                            <div class="movie-summary">
                                <p>{{ serie.description }}</p>
                            </div>
                            <ul class="movie-meta">
                                <li><strong>Durée :</strong> {{ serie.duration }}</li>
                                <li><strong>Premiere:</strong> 22 March 2013 (USA)</li>
                                <li><strong>Category:</strong> </li>
                            </ul>
                        </div>
                    </div> <!-- .row -->
                </div>
            </div>
        </div> <!-- .container -->
    </main>
    </html>

{% endblock %}
